// main colors
$color-1: #2bb3b1;
$color-2: #c0df34;
$color-3: #e5eff5;
$color-4: #98a6bd;
$color-5: #4abebd;

// regular colors
$color-black: #000;
$color-wight: #fff;
$color-gray: #777;
$color-dark: #333;
$color-light: #f4f4f4;
